.listWrapper {
  min-width: 15rem;
  height: 100%;
}

.list {
  margin: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .listWrapper {
    min-width: default;
    width: 100%;
  }
}
