.wrapper {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.turnText {
  margin-bottom: 0;
}
