.button {
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-out, border-color 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}

.primary {
  background-color: #00443b;
  border: none;
  color: white;
}

.tertiary {
  background-color: #00352f;
  border: 3px solid #00352f;
  color: white;
  font-size: 0.8rem !important;
}

.tertiary:hover {
  transform: scale(1.01);
  background-color: #00443b;
}

.primary:hover {
  transform: scale(1.01);
  background-color: #00352f;
}

.secondary {
  color: white !important;
  background-color: #00443b;
  border: 1px solid white;
  color: #333;
}

.secondary:hover {
  transform: scale(1.01);
  background-color: #00352f;
  color: #333;
}

.button:disabled {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}
