.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #8d8d8d; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 0 1rem;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small {
  width: 20px;
  height: 20px;
  border-width: 4px;
}

.large {
  width: 60px;
  height: 60px;
  border-width: 8px;
}
